.filter-header {
    height: 100px;
    margin: 0 80px 20px 80px;
    border-bottom: 1px solid #dddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .filter-nav {
        display: flex;
        
        .clear-filters {
            font-family: 'Raleway', sans-serif;
            background-color: rgba(250, 250, 250, 1);
            box-sizing: border-box;
            padding: 10px;
            margin: 12px 15px 10px 10px;
            font-size: 18px;
            font-weight: bold;
            
            &:hover {
                cursor: pointer;
            }
        }
        
        .clear-filters-invisible {
            background-color: rgba(250, 250, 250, 1);
            box-sizing: border-box;
            padding: 10px;
            margin: 0 10px 10px 10px;
            font-size: 18px;
            font-weight: bold;
            opacity: 0;
        }

        ul li {
            margin: 10px;
        }
    }
}

.items-body {
    display: flex;
    flex-direction: column;
    min-width: 455px;
    
    .filter-dropdown {
        display: inline-block;
        overflow: hidden;
    }

    .open-filter-dropdown {
        max-height: 200px;
    }

    .close-filter-dropdown {
        max-height: 0px;
    }

    .animation-wipe {
        animation: wipe .5s;
    }

    .filter-attributes {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            user-select: none;
        }
        
        .filter-buttons-container {
            display: flex;
            height: 40px;
            margin-left: 10px;
            align-items: flex-start;
            justify-content: flex-end;
            overflow: hidden;
            
            .swipe-left {
                animation: swipe-left .3s;
            }  

            h2 {
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                padding-top: 14px;
                margin-left: 10px;
            }

            h5 {
                margin-left: 10px;
                box-sizing: border-box;
                width: 20px;
            }

            .X {
                font-size: 18px;
                padding-top: 14px;
            }

            .minus {
                font-size: 32px;
                padding: 8px 0 0 3px;
            }

            .down-arrow {
                font-size: 36px;
            }    
        }
    }
}