.items-body {
    display: flex;
    flex-direction: column;
    min-width: 455px;
    
    .filter-dropdown {
        display: inline-block;
        overflow: hidden;
    }

    .open-filter-dropdown {
        max-height: 200px;
        transition: .2s ease-in;
    }

    .close-filter-dropdown {
        max-height: 0px;
        transition: .2s ease-out;
    }

    .filter-attributes {
        display: flex;
        &:hover {
            cursor: pointer;
        }
    }

}

.items-body > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-nav-items {

    .filter-nav-items-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right: 80px;
        height: 80px;
        li {
            margin: 0px 0 10px 10px;
        }
    }
}
    
.filter-header {
    height: 100px;
    margin: 0 80px 20px 80px;
    border-bottom: 1px solid #dddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .filter-nav {
        display: flex;
        
        .clear-filters {
            background-color: rgba(250, 250, 250, 1);
            box-sizing: border-box;
            padding: 10px;
            margin: 0 10px 10px 10px;
            font-size: 18px;
            font-weight: bold;
            
            &:hover {
                cursor: pointer;
            }
        }
        
        .clear-filters-invisible {
            background-color: rgba(250, 250, 250, 1);
            box-sizing: border-box;
            padding: 10px;
            margin: 0 10px 10px 10px;
            font-size: 18px;
            font-weight: bold;
            opacity: 0;
        }

        ul li {
            margin: 10px;
        }
    }

}


.item {
    margin: 20px 20px 20px 20px;
    // background-color: lightblue;
    border: 1px solid red($color: #ad7878);
    
    .item-photo-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-weight: bold;
            margin: 15px 0 15px 0;
        }
    }


    .item-photo {
        height: 350px;
        width: 350px;
        background-color: rgba(250, 250, 250, 1);
        
        .item-photo-item {
            height: 350px;
            width: 350px;
            object-fit: cover;
            transition: .2s;
            &:hover {
                transform: scale(1.03);
            }
        }

    }

    .item-info {
        color: rgba(100, 100, 100, 0.867);
        padding:0 0 10px 0;
    }

    .select-size {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid rgba(184, 183, 183, 0.867);
        background-color: white;
        transition: .2s;
        &:hover {
            cursor: pointer;
            border: 1px solid black;   
        }
    }
}

.size-selections {

    display: inline-block;
    width: 350px;
    overflow: hidden;

    .size-selections-container {
        display: flex;
        justify-content: space-between;

        .size {
            display: flex;
            align-items: center;
            justify-content: center;

            h4 {
                box-sizing: border-box;
                padding: 18px;
                width: 50px;
                height: 50px;
                font-size: 13px;
                text-align: center;
                margin-top: 13px;
                border-radius: 2px;
                border: 1px solid black;
                transition: .2s;
                &:hover {
                    background-color: rgb(224, 224, 224);
                    cursor: pointer;
                }
            }              

        }
    }

}

.size-dropdown-attributes {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    font-size: 13px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    padding: 18px;
    &:hover {
        background-color: rgb(224, 224, 224);
        cursor: pointer;
    }
}

.color-dropdown-attributes {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: beige;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(-28px);

    &:hover {
        border: 2px solid rgba(207, 207, 207, 0.863);
        cursor: pointer;
    }

    h4 {
        transform: translateY(18px);
    }

}

.style-dropdown-attributes {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: beige;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(-28px);

    &:hover {
        border: 2px solid rgba(207, 207, 207, 0.863);
        cursor: pointer;
    }

    h4 {
        transform: translateY(18px);
    }

}

.material-dropdown-attributes {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: beige;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(-28px);

    &:hover {
        border: 2px solid rgba(207, 207, 207, 0.863);
        cursor: pointer;
    }

    h4 {
        transform: translateY(18px);
    }

}

.size-selections.hidden-size-selection {
    height: 0px; 
    transition: .2s;
}

.size-selections.unhidden-size-selection {
    height: 90px;
    transition: .2s;
}


