@import 'utils';
@import 'animations';

.items-body > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-header-item {
    height: 440px;
    width: 100%;
    object-fit: cover;
}

.items-header-title-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 440px;
    width: 100%;

    .items-header-title {
        width: 800px;
        text-align: center;
        transform: rotate(-10deg);
        color: white;
        font-size: 90px;
        font-style: italic;
    }
}

.fadeInUp {
  animation: fadeInUp .3s;
}

.item {
    margin: 20px 20px 20px 20px;
    
    .item-photo-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-weight: bold;
            margin: 15px 0 15px 0;
        }
    }

    .item-photo {
        height: 350px;
        width: 350px;
        background-color: $bg-light-grey;
        
        .item-photo-item {
            height: 350px;
            width: 350px;
            object-fit: cover;
            transition: .2s;
            &:hover {
                transform: scale(1.03);
                cursor: pointer;
            }
        }
    }

    .item-info {
        color: $dark-grey;
        padding:0 0 10px 0;
    }

    .select-size {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid $mid-dark-grey;
        background-color: white;
        transition: .2s;
        &:hover {
            cursor: pointer;
            border: 1px solid black;   
        }
    }
}

.size-selections {

    display: inline-block;
    width: 350px;
    overflow: hidden;

    .size-selections-container {
        display: flex;
        justify-content: space-between;

        .size {
            display: flex;
            align-items: center;
            justify-content: center;

            h4 {
                box-sizing: border-box;
                padding: 18px;
                width: 50px;
                height: 50px;
                font-size: 13px;
                text-align: center;
                margin-top: 13px;
                border-radius: 2px;
                border: 1px solid black;
                transition: .2s;
                &:hover {
                    background-color: $bg-grey;
                    cursor: pointer;
                }
            }              

        }
    }

}

.size-selections.hidden-size-selection {
    height: 0px; 
    transition: .2s;
}

.size-selections.unhidden-size-selection {
    height: 90px;
    transition: .2s;
}


.notification {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px; 
    right: 20px;
    padding: 15px;
    border-radius: 3px;
    height: 80px;
    width: 300px;
    font-size: 14px;
    box-shadow: 2px $bg-grey;
    color: transparent;
    background: transparent;

}

.fadeout {
    animation: fadeout 3s;
    &:hover {
        z-index: 1;
        transition: .2s;
        user-select: none;
    }
}