@import 'utils';

#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    padding-top: 15px; 
    top: 0;
    width: 100%;
    min-width: 800px;
    height: 100px;
    z-index: 3;
    transition: all ease-out .2s;
}

.header {
    display: flex;
    box-shadow: none;
}

.active-header {
    display: flex;
    background-color:#fafafa;
    box-shadow: 0 0 10px 0 rgba(109, 109, 109, 0.3);
}

.active-header.with-dropdown {
    box-shadow: none;
}

#navs {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    width: 100%;
}

#home-page-header {
    position: relative;
    top: 790px;
    width: 850px;
    z-index: 1;
    color: white;
    font-size: 90px;
    text-align: center;
    font-style: italic;
    transform: rotate(-10deg);
    user-select: none;
}

.nav-link h2 {
    font-family: $title-font-1;
    font-size: 12px; 
}

h2.nav-link {
    font-family: $title-font-1;
    font-size: 12px; 
}

.a-header-button {
    color: black;
}

.u-header-button {
    color: white;
}

.nav {
    margin: 20px;
}

#left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: flex;
    width: 54px;
    padding-bottom: 10px;
    height: 12px;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    user-select: none;
    cursor: pointer;
    transition: border-bottom .2s;
    border-bottom: 2px solid rgba(0, 0, 0, 0);  
    &:hover {
        border-bottom: 2px solid black;  
    }
}

.nav-link .down-arrow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-family: $body-font-1;
    padding: 8px 0 6px 11px;
}

.nav-link .minus {
    font-size: 30px;
    font-family: $body-font-1;
    padding-bottom: 0px;
    padding-left: 8px;
}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    padding-right: 110px;
    user-select: none
    
}

.nav-link.logo {
    font-size: 50px;
    border: none;
    padding-right: 80px;
}
.nav-link.logo h1{
    font-family: $title-font-1;
    font-weight: normal;
}

.cart-header-button {
    width: 36px;
}