#nav-dropdown {
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 510px;
    width: 100%;
    min-width: 800px;
    padding: 40px 100px 40px 100px;
    background-color: rgb(238, 238, 238);
    z-index: 1;
}

#nav-dropdown.visible {
    max-height: 510px;
    margin-top: 80px;
    z-index: 2;
}

.swipe-down {
    animation: swipe-down .4s;
}

.swipe-up-down {
    animation: swipe-up-down .5s;
}

#nav-dropdown.invisible {
    max-height: 0px;
    padding: 0;
    transition: .2s;
}

.nav-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

#nav-dropdown > div > ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaa;
    padding: 20px 0 30px 0;
    margin-bottom: 20px;
    min-width: 600px;
    
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        &:hover .dropdown-shoe-image-item {
            transform: scale(1.06);
            cursor: pointer;
            transition: .2s;
        }

        &:hover h3 {
            color: black;
            cursor: pointer;
            transition: .2s;
        }

        .dropdown-shoe-image {
            box-sizing: border-box;
            height: 150px;
            width: 150px;
            background-color: #eeeeee;
            margin: 0 10px 0 10px;
        }

        h3 {
            margin-top: 20px;
            color: rgba(117, 117, 117, 0.667);
            font-size: 12px;
            font-family: 'Raleway', sans-serif;
        }
    }
}

.dropdown-shoe-image .dropdown-shoe-image-item {
    object-fit: cover;
    height: 150px;
    width: 150px;
}

#dropdown-attributes-container {
    display: flex;

    .right-arrow {
        margin: 0 10px 0 10px;
        padding: none;
        font-size: 20px;
        text-align: center;
        color: black;
        transform: translateY(-2px);
        user-select: none;
        &:hover {
            cursor: pointer;
        }
    }
    
    ul {
        display: flex;
        padding: 12px;
        width: 500px;
        justify-content: flex-start;

        li {
            display: flex;
            flex-direction: column;
            padding: 0 15px 0 15px;
            margin: 0 15px 0 40px;
    

            h3 {
                color:rgba(117, 117, 117, 0.667);
                margin-bottom: 10px;
            }

            ol {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                max-height: 135px;

                .attribute-link {
                    margin: 10px 20px 10px 0;
                    font-size: 14px;
                }
            }
        }
    }
}

#dropdown-attributes-container > div {
    display: flex;
    padding: 15px;
    
    a {
        height: 20px;
        user-select: none;
    }

    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 14px; 
        user-select: none;
    }
}

.up-arrow-container {
    display: flex;
    justify-content: center;
    .up-arrow {
        font-size: 50px;
        color:rgba(117, 117, 117, 0.667);
        font-family: 'Poppins', sans-serif; 
        text-align: center;  
        transform: translateY(-5px);
        transition: .2s;
        width: 16px;

        &:hover {
            color: black;
            cursor: pointer;
            user-select: none;
            transition: .2s;
        }
    }
}