.page-not-found {
    margin: 80px 0 0 0;
    position: absolute;
    min-height: 1000px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#broken-header {
    font-size: 60px;
    margin: 30px;
}