@import 'utils';

.cart-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-item-image-container {
    height: 114px;
    width: 114px;
    background-color: $bg-grey;
    margin-right: 20px;
}

.cart-item-info {
    width: 307px;
    height: 114px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.cart-item-info h2{
    font-family: $title-font-1;
    font-size: 18px;
}

.cart-item-info h3 {
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.quantity-container {
    margin: 10px 0 0 0;
}

.quantity-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $mid-grey;
    width: min-content;
}

.quantity-integer {
    font-size: 14px;
    width: 15px;
    text-align: center;
}

.change-quantity {
    &:hover {
        cursor: pointer;
        color: black;
        user-select: none;
    }
    color: $mid-grey;
    margin: 5px 10px 5px 10px;
    font-size: 24px;
    transition: 0.2s;
}

.cart-item-back-container {
    height: 114px;
}

.cart-item-back {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.exit {
    &:hover {
        cursor: pointer;
    }
}