@keyframes wipe {
    0% {max-height: 0;}
    50% {max-height: 120px;}
    100% {max-height: 200px;}
}

@keyframes swipe-down {
    0% {max-height: 0;}
    100% {max-height: 510px;}
}

@keyframes swipe-up-down {
    0% {max-height: 510;}
    30% {max-height: 0;}
    100% {max-height: 510px;}
}

@keyframes swipe-left {
    0% {max-width: 0;}
    100% {max-width: 100px;}
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeout {
  0% { 
    opacity: 1;
    background-color: white;
    color: black;
    z-index: 1000;
    background: #eeeeee  
  }

  20% { 
    opacity: 1;
    background-color: white;
    color: black;
    z-index: 1000;
    background: #eeeeee

  }

  100% { 
    opacity: 0;
    z-index: 0;
    color: transparent;
  }
}