#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 800px;
    min-height: 80px;
    z-index: 3;
    transition: all ease-out .2s;
}

.header {
    display: flex;
    box-shadow: none;
}

.active-header {
    display: flex;
    background-color:#fafafa;
    box-shadow: 0 0 10px 0 rgba(109, 109, 109, 0.3);

}

#navs {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    overflow: scroll;
    width: 100%;
}

.visible {
    transform: translateY(80px);
    transition: transform .2s ease-out;
}

.invisible {
    transform: translateY(-880px);
    transition: transform .2s ease-out;
}

#home-page-header {
    position: relative;
    top: 790px;
    width: 850px;
    z-index: 2;
    color: white;
    font-size: 90px;
    text-align: center;
    font-style: italic;
    transform: rotate(-10deg);
}

#nav-dropdown {
    position: fixed;
    box-sizing: border-box;
    height: 510px;
    width: 100%;
    min-width: 950px;
    padding: 40px 100px 40px 100px;
    background-color: rgb(238, 238, 238);
    opacity: 1;
}

#nav-dropdown > div > ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaa;
    padding: 20px 0 30px 0;
    margin-bottom: 20px;
    
    li {
        display: flex;
        flex-direction: column;
        align-items: center;

        .dropdown-shoe-image {
            box-sizing: border-box;
            height: 150px;
            width: 150px;
            background-color: #ffffff;

        }

        h3 {
            margin-top: 20px;
            color: rgba(117, 117, 117, 0.667);
            font-size: 18px;
        }
    }
}

#dropdown-attributes-container {
    display: flex;

    div {
        display: flex;
        padding: 15px;
    }
    
    ul {
        display: flex;
        padding: 15px;

        li {
            display: flex;
            flex-direction: column;
            padding: 0 15px 0 15px;

            h3 {
                color:rgba(117, 117, 117, 0.667);
                margin-bottom: 10px;
            }

            ol {
                display: flex;
                flex-direction: column;

                .attribute-link {
                    margin: 10px 0 10px 0;
                    font-size: 14px;
                }
            }
        }
    }
}

.arrow {
    margin: 0 10px 0 10px;
    padding: none;
    font-size: 30px;
    text-align: center;
    color:rgba(117, 117, 117, 0.667);
}

h2 {
    font-size: 20px; 
    transition: all ease-out .2s;
}

.a-header-button {
    color: black;
    
}

.u-header-button {
    color: white;
}

.nav {
    margin: 20px;
}

#left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    margin: 20px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.logo {
    font-size: 40px;
}

footer {
    height: 200px;
    width: 100%;
    background-color: #1f3131;
}


