#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    padding-top: 15px; 
    top: 0;
    width: 100%;
    min-width: 800px;
    height: 100px;
    z-index: 3;
    transition: all ease-out .2s;
}

.header {
    display: flex;
    box-shadow: none;
}

.active-header {
    display: flex;
    background-color:#fafafa;
    box-shadow: 0 0 10px 0 rgba(109, 109, 109, 0.3);
}

.active-header.with-dropdown {
    box-shadow: none;
}

#navs {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    overflow: scroll;
    width: 100%;
}

#nav-dropdown.visible {
    max-height: 510px;
    transition: .2s ease-out;
    margin-top: 80px;
    z-index: 2;
}

#nav-dropdown.invisible {
    max-height: 0px;
    padding:0;
    transition: .2s ease-out;
}

#home-page-header {
    position: relative;
    top: 790px;
    width: 850px;
    z-index: 1;
    color: white;
    font-size: 90px;
    text-align: center;
    font-style: italic;
    transform: rotate(-10deg);
    user-select: none;
}

#nav-dropdown {
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    height: 510px;
    width: 100%;
    min-width: 950px;
    padding: 40px 100px 40px 100px;
    background-color: rgb(238, 238, 238);
    z-index: 1;
}

#nav-dropdown > div > ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaa;
    padding: 20px 0 30px 0;
    margin-bottom: 20px;
    
    li {
        display: flex;
        flex-direction: column;
        align-items: center;

        .dropdown-shoe-image {
            box-sizing: border-box;
            height: 150px;
            width: 150px;
            background-color: #ffffff;

        }

        h3 {
            margin-top: 20px;
            color: rgba(117, 117, 117, 0.667);
            font-size: 18px;
        }
    }
}

#dropdown-attributes-container {
    display: flex;

    div {
        display: flex;
        padding: 15px;
    }
    
    ul {
        display: flex;
        padding: 15px;

        li {
            display: flex;
            flex-direction: column;
            padding: 0 15px 0 15px;

            h3 {
                color:rgba(117, 117, 117, 0.667);
                margin-bottom: 10px;
            }

            ol {
                display: flex;
                flex-direction: column;

                .attribute-link {
                    margin: 10px 0 10px 0;
                    font-size: 14px;
                }
            }
        }
    }
}

.arrow {
    margin: 0 10px 0 10px;
    padding: none;
    font-size: 30px;
    text-align: center;
    color:rgba(117, 117, 117, 0.667);
}

.nav-link h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px; 
}

h2.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 12px; 
}

.a-header-button {
    color: black;
}

.u-header-button {
    color: white;
}

.nav {
    margin: 20px;
}

#left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: flex;
    min-width: 40px;
    padding-bottom: 10px;
    height: 12px;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    user-select: none;
    cursor: pointer;
    transition: border-bottom .2s;
    border-bottom: 2px solid rgba(0, 0, 0, 0);  
    &:hover {
        border-bottom: 2px solid black;  
    }
}

.nav-link .down-arrow {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 8px;
}

.nav-link .minus {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0px;
    padding-left: 8px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    user-select: none
    
}

.nav-link.logo {
    font-size: 50px;
    border: none;
    padding-right: 80px;
}
.nav-link.logo h1{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

footer {
    height: 200px;
    width: 100%;
    background-color: #1f3131;
}



