$bg-pink: #eee8e6;
$bg-green: #1f3131;
$bg-grey: #eeeeee;
// $bg-light-grey: rgba(250, 250, 250, 1);
$bg-light-grey: #fafafa;


$light-grey: #a1a1a1;
$mid-grey: #aaaa;
$mid-dark-grey: #a3a3a3;
$dark-grey: #8b8b8b;

$title-font-1: 'Raleway', sans-serif;
$body-font-1: 'Poppins', sans-serif;